<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<th:block th:frgment="classAdd">
  <!--강의 등록-->
  <div class="modal fade" id="classAdd" tabindex="-1" aria-labelledby="classAdd" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header p-3">
          <div>
            <h4 class="mb-0" id="stuInfo1Label">강의 등록</h4>
          </div>
        </div>
        <div class="modal-body p-5">
          <!-- card body -->
          <div class="card-body">
            <form method="POST" action="/schedule/create">
              <div class="row align-items-center">

                <div class="col-6">
                  <!-- row 이름열 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="nameModal" class="col-sm-3 col-form-label
                                            form-label">강의명</label>
                      <div class="col-md-8 col-12">
                        <input type="name" class="form-control" name="subjectTitle"
                               id="nameModal" required>
                      </div>
                    </div>
                  </div>

                  <!-- row 교수명 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="nameModal" class="col-sm-3 col-form-label
                                            form-label">교수명</label>
                      <div class="col-md-8 col-12">
                        <input type="name" class="form-control" name="professorName"
                               id="professorModal" th:value="${user.userName}" readonly required>
                      </div>
                    </div>
                  </div>

                  <!-- row 생년월일 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="gpaModal" class="col-sm-3 col-form-label
                                              form-label">학점</label>
                      <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="subjectPoints"
                               id="gpaModal" required>
                      </div>
                    </div>
                  </div>

                  <!-- row 전화번호 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="majorModal" class="col-sm-3 col-form-label
                                              form-label">전공</label>
                      <div class="col-md-8 col-12">
                        <select class="form-select" id="majorModal" name="isMajor">
                          <option value="true">전공</option>
                          <option value="false">교양</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <!-- 소속학부 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="maxNumModal" class="col-sm-3 col-form-label
                                              form-label">소속학부</label>
                      <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="subjectDepaetment"
                               id="maxNumModal" required>
                      </div>
                    </div>
                  </div>

                  <!-- row 이메일 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="yearModal" class="col-sm-3 col-form-label
                                              form-label">대상학년</label>
                      <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="subjectGrade"
                               id="yearModal" required>
                      </div>
                    </div>
                  </div>

                  <!-- row 주소 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="maxNumModal" class="col-sm-3 col-form-label
                                              form-label">수강인원</label>
                      <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="limited"
                               id="maxNumModal3" required>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <!-- row 주소 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="locationModal" class="col-sm-3 col-form-label
                                              form-label">강의실</label>
                      <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="classRoom"
                               id="locationModal" required>
                      </div>
                    </div>
                  </div>

                  <!-- row 주소 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="dayModal" class="col-sm-3 col-form-label
                                              form-label">요일</label>
                      <div class="col-md-8 col-12">
                        <select class="form-select" id="dayModal" name="day">
                          <option value="Mon">월</option>
                          <option value="Tue">화</option>
                          <option value="Wed">수</option>
                          <option value="Thu">목</option>
                          <option value="Fri">금</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <!-- row 주소 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="startTimeModal" class="col-sm-3 col-form-label
                                              form-label">시작시간</label>
                      <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="startTime"
                               id="startTimeModal" placeholder="ex : 13:00" required>
                      </div>
                    </div>
                  </div>

                  <!-- row 주소 -->
                  <div class="mb-3 row">
                    <div class="d-flex justify-content-center">
                      <label for="endTimeModal" class="col-sm-3 col-form-label
                                              form-label">마치는시간</label>
                      <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="endTime"
                               id="endTimeModal" placeholder="ex : 15:00" required>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
              <!-- row 주소 -->
              <div class="row mt-3">
                <label for="maxNumModal" class="col-sm-3 col-form-label
                                             form-label">강의계획서</label>
                <div class="col-md-8 col-12">
                  <textarea rows = "30" cols="65" class="form-control" name="subjectIntro"
                            id="maxNumModal2" required></textarea>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary m-2">등록</button>
                  <button type="button" class="btn btn-secondary m-2"
                          data-bs-dismiss="modal">취소</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 학생정보 모달 끝-->
</th:block>
</body>

</html>