<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/school_black.svg}">

    <link rel="stylesheet" th:href="@{/css/prism.css}">
    <link rel="stylesheet" th:href="@{/css/prism-line-numbers.css}">
    <link rel="stylesheet" th:href="@{/css/prism-toolbar.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/dropzone.css}">
    <link rel="stylesheet" th:href="@{/css/materialdesignicons.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.css}" >
</th:block>



</html>