<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="scripts">
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/feather.js}"></script>
<script th:src="@{/js/prism-core.js}"></script>
<script th:src="@{/js/prism-markup.js}"></script>
<script th:src="@{/js/prism-line-numbers.js}"></script>
<script th:src="@{/js/apexcharts.js}"></script>
<script th:src="@{/js/dropzone.js}"></script>

<!-- clipboard -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/featherReplace.js}"></script>
<script th:src="@{/js/copyButton.js}"></script>
<script th:src="@{/js/sidebarMenu.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</th:block>

</html>