<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebar">
    <!-- sidebar 시작!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <!-- Sidebar -->
    <nav class="navbar-vertical navbar pt-10">
        <div class="nav-scroller">
            <!-- Brand logo -->
            <a class="navbar-brand" href="#">
                <img src="img/cute.png" alt="" />
            </a>
            <!-- Navbar nav -->
            <ul class="navbar-nav flex-column" id="sideNavbar">
                <li class="nav-item">
                    <a class="nav-link has-arrow" href="#">
                        <i data-feather="home" class="nav-icon icon-xs me-2"></i> Dashboard
                    </a>
                </li>
                <!-- Nav item -->
                <li class="nav-item">
                    <a class="nav-link has-arrow" href="#"
                       data-bs-toggle="collapse" data-bs-target="#navPages" aria-expanded="false" aria-controls="navPages">
                        <i data-feather="layers" class="nav-icon icon-xs me-2">
                        </i> Pages
                    </a>

                    <div id="navPages" class="collapse"
                         data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link has-arrow"
                                   href="#">
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Nav item -->
                <li class="nav-item">
                    <a class="nav-link has-arrow" href="#"
                       data-bs-toggle="collapse" data-bs-target="#navAuthentication" aria-expanded="false"
                       aria-controls="navAuthentication">
                        <i data-feather="lock" class="nav-icon icon-xs me-2">
                        </i> Authentication
                    </a>
                    <div id="navAuthentication" class="collapse"
                         data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/login">
                                    Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">
                                    Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="#">
                                    Forget Password
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <!-- Nav item -->
                <li class="nav-item">
                    <a class="nav-link has-arrow" href="#!"
                       data-bs-toggle="collapse" data-bs-target="#navComponents" aria-expanded="false"
                       aria-controls="navComponents">
                        <i data-feather="database" class="nav-icon icon-xs me-2">
                        </i> Components
                    </a>
                    <div id="navComponents" class="collapse"
                         data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="@@webRoot/components/accordions.html" aria-expanded="false">
                                    Accordions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="@@webRoot/components/tooltips.html" aria-expanded="false">
                                    Tooltips
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- sidebar 끝!!!!!!!!!!!!!!!!!!!!!!!!!!-->

</th:block>
</html>