<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="/include/head :: head" />
    <title>메타넷대학교</title>
</head>

<body>
<div id="db-wrapper" class="toggled">
    <!--sidebar 삽입  -->
    <div th:replace="/include/sidebar :: sidebar"></div>
    <div id="page-content">
        <div th:replace="/include/navbar :: navbar"></div>

        <div class="container-fluid">
            <div class="row justify-content-center vh-100">
                <div class="col-xl-8 m-auto">
                    <div class="card smooth-shadow-md">
                        <div class="card-body">

                            <div class="d-flex my-3 justify-content-end">
                                <a href="#" class="d-none d-sm-inline-block btn btn-outline-primary">공지사항 등록</a>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h2 class="text-decoration-none">공지사항</h2>
                            </div>
                            <table class="table table-bordered text-center mt-2 mb-5">
                                <thead>
                                <tr>
                                    <th class="w-75">title</th>
                                    <th>username</th>
                                    <th>createdat</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="board : ${boardList.boardDtoList}">
                                    <td><a th:text="${board.title}"
                                           th:href="@{'/boardDetail/' + ${board.boardId}}"></a></td>
                                    <td th:text="${board.userName}"></td>
                                    <td th:text="${#temporals.format(board.created_date,'yyyy-MM-dd')}"></td>
                                </tr>
                                </tbody>

                            </table>
                            <!-- 페이징 처리 부분  -->
                            <ul class="pagination justify-content-center" 
                            	th:with="pageNumber = ${boardList.pageNumber},
							            pageSize = ${boardList.pageSize},
							            totalPages = ${boardList.totalPages},
							            pazingSize = 10,
                            			start=${T(Math).floor(pageNumber / pazingSize) * pazingSize + 1},
                            			tempEndPage = ${start + pazingSize - 1},
              							last=${tempEndPage < totalPages ? tempEndPage : totalPages}">
                            
                                <!--  이전  -->
                                <li class="page-item">
                                    <a class="page-link" th:href="${pageNumber==0} ? '#' : @{/boardList(page=${pageNumber})}">이전</a>
                                </li>

                                <!--  페이지 버튼  -->
                                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == pageNumber + 1} ? 'page-item active' : 'page-item'">
							    	<a class="page-link" th:text="${page}" th:href="@{/boardList(page=${page})}"></a>
							  	</li>

                                <!--  다음  -->
                                <li class="page-item">
                                    <a class="page-link" th:href="${pageNumber==totalPages-1} ? '#' : @{/boardList(page=${pageNumber+2})}">다음</a>
                                </li>
                            </ul>
                            <!-- 페이징 처리 끝 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/include/scripts :: scripts"></div>
</body>

</html>