<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:replace="/include/head :: head" />
    <title>공지사항 등록</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
</head>

<body>
<div id="db-wrapper" class="toggled">
    <!--sidebar 삽입  -->
    <div th:replace="/include/sidebar :: sidebar"></div>
    <div id="page-content">
        <div th:replace="/include/navbar :: navbar"></div>

        <div class="container-fluid">
            <div class="row justify-content-center vh-100">
                <div class="col-xl-6 m-auto">
                    <div class="card smooth-shadow-md">
                        <div class="card-body">
                            <div class="text-center fs-3 fw-bold">
                                공지사항
                            </div>

                            <form class="row" method="POST" th:action="@{/boardForm}">
                                <div class="col-4 m-auto my-2 d-none">
                                    <input class="form-control text-center" value="작성자 받아와!" placeholder="작성자">
                                </div>
                                <div class="col-10 m-auto my-2">
                                    <input class="form-control text-center" placeholder="제목" name="title">
                                </div>
                                <div class="col-10 m-auto my-2">
                                    <div id="editor">
                                        <p>여기다가 수정 눌렀을때 불러온 데이터 뿌려주면됩니다. 여기 p 태그!</p>
                                    </div>
                                </div>
                                <div class="col-6 m-auto my-2">
                                    <div class="d-flex justify-content-between">
                                        <input type="submit" value="등록" class="btn btn-primary form-control mx-5">
                                        <a class="btn btn-warning form-control mx-5" href='#'>취소</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/include/scripts :: scripts"></div>

</body>



 <script>
     ClassicEditor
         .create( document.querySelector( '#editor' ) )
         .catch( error => {
             console.error( error );
         } );
    </script>



</html>