<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="/include/head :: head"></div>

  <title>내정보</title>

</head>

<body>

  <div id="db-wrapper">

   <!--sidebar 삽입  -->
   <div th:replace="/include/sidebar :: sidebar"></div>


    <div id="page-content">

      <div th:replace="/include/navbar :: navbar"></div>

      <!--컨테이너 시작!!!!!!!!!!!-->
      <div class="container-fluid px-6 py-4 mt-10">
        <div class="row mb-5">
          <div class="col-7 m-auto">
            <!-- card -->
            <div class="card">
              <!-- card body -->
              <div class="card-body">
                <div class=" mb-6">
                  <h4 class="fs-1 border-bottom text-sm-center">개인정보</h4>
                </div>
                <div class="row align-items-center">
                  <!--사진 col 시작 -->
                  <div class="col-4">
                    <div class="d-flex justify-content-center">
                      <img th:src="${userData.thumbnailUrl}" class="rounded-circle avatar avatar-xxxl" alt="">
                    </div>
                  </div>
                  <!--사진 col 끝 -->
                  <div class="col-8">
                    <!-- row 이름열 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="name" class="col-sm-2 col-form-label
                                  form-label">이름</label>
                        <div class="col-md-8 col-12">
                          <input type="name" class="form-control" th:value="${userData.userName}" id="name" required>
                        </div>
                      </div>
                    </div>

                    <!-- row 생년월일 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="birth" class="col-sm-2 col-form-label
                                    form-label">생년월일</label>
                        <div class="col-md-8 col-12">
                          <input type="email" class="form-control" th:value="${userData.userBirth}" id="birth" required>
                        </div>
                      </div>
                    </div>

                    <!-- row 전화번호 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="phone" class="col-sm-2 col-form-label
                                    form-label">전화번호</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" th:value="${userData.userPhone}" id="phone" required>
                        </div>
                      </div>
                    </div>

                    <!-- row 이메일 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="email" class="col-sm-2 col-form-label
                                    form-label">이메일</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" th:value="${userData.userEmail}" id="email" required>
                        </div>
                      </div>
                    </div>
                    <!-- row 주소 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="address" class="col-sm-2 col-form-label
                                    form-label">주소</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" th:value="${userData.Address}" id="address" required>
                        </div>
                      </div>
                    </div>

                    <!-- row 변경버튼 -->
                    <!-- <div class="row align-items-center">
                              <div class="offset-md-4 col-md-8 mt-4">
                                <button type="submit" class="btn btn-primary"> Save
                                    Changes</button>
                              </div>
                            </div> -->
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#stuinfo1">수정</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-7 m-auto">
            <!-- card -->
            <div class="card">
              <!-- card body -->
              <div class="card-body">
                <div class=" mb-6">
                  <h4 class="fs-1 border-bottom text-sm-center">학적조회</h4>
                </div>
                <div class="row align-items-center">
                  <!--왼쪽 col 시작 -->
                  <div class="col-6">
                    <!-- row 이름열 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="student_id" class="col-sm-2 col-form-label
                                  form-label">학번</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" th:value="${userData.userCode}" id="student_id" required>
                        </div>
                      </div>
                    </div>
                    <!-- row 이름열 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="college" class="col-sm-2 col-form-label
                                  form-label">학부</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" th:value="${userData.userDepartment}" id="college" required>
                        </div>
                      </div>
                    </div>
                    <!-- row 이름열 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="major" class="col-sm-2 col-form-label
                                  form-label">전공</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" th:value="${userData.userMajor}" id="major" required>
                        </div>
                      </div>
                    </div>
                    <!-- row 이름열 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="minor" class="col-sm-2 col-form-label
                                  form-label">부전공</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" th:value="${userData.userMinor}" id="minor">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--왼쪽 col 끝 -->
                  <div class="col-6">
                    <!-- row 이름열 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="year" class="col-sm-2 col-form-label
                                  form-label">학년</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" th:value="${userData.userGrade}" id="year" required>
                        </div>
                      </div>
                    </div>

                    <!-- row 생년월일 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="credit" class="col-sm-2 col-form-label
                                    form-label">이수학점</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="얘는 잠시 놔둘게요" id="credit" required>
                        </div>
                      </div>
                    </div>

                    <!-- row 전화번호 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="phone" class="col-sm-2 col-form-label
                                    form-label">학적상태</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" th:value="${userData.enrollmentStatus}" id="status" required>
                        </div>
                      </div>
                    </div>

                    <!-- row 이메일 -->
                    <div class="mb-3 row">
                      <div class="d-flex justify-content-center">
                        <label for="username" class="col-sm-2 col-form-label
                                    form-label">아이디</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" th:value="${userData.accountId}" id="username" required>
                        </div>
                      </div>
                    </div>
                    <!-- row 변경버튼 -->
                    <!-- <div class="row align-items-center">
                              <div class="offset-md-4 col-md-8 mt-4">
                                <button type="submit" class="btn btn-primary"> Save
                                    Changes</button>
                              </div>
                            </div> -->
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#stuinfo2">수정</button>
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#stuinfo3" style="margin-left: 5px;" th:if="${userData.enrollmentStatus.toString().equals('ATTENDING')}">휴학 신청</button>
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#stuinfo3" style="margin-left: 5px;" th:if="${userData.enrollmentStatus.toString().equals('LEAVE')}">복학 신청</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- container end-->

    </div>
  </div>
  <div th:replace="/modal/stuinfo1"></div>

  <div th:replace="/modal/stuinfo2"></div>
  
  <div th:replace="/modal/stuinfo3"></div>


  </div>
  </div>

  <div th:replace="/include/scripts :: scripts"></div>
</body>
</html>

